<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countered iOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1CDF96007A5D10795985940DC722A834138DE432</string>
				<key>dateExpires</key>
				<string>10/12/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NQ7HG9JG96.com.ShiftedRealms.test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NQ7HG9JG96</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>NQ7HG9JG96.com.ShiftedRealms.test</string>
				</array>
			</dict>
			<key>name</key>
			<string>Countered.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>479d8798-18e7-4fa3-822c-cf0c6c2ffac7</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NQ7HG9JG96</string>
				<key>name</key>
				<string>Andrei Ollykainen</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
